header.site-header
  nav.navbar.navbar-expand-lg.navbar-dark.eco-navbar.py-2
    .container
      a.navbar-brand.d-flex.align-items-center(href='/')
        img(src='/client/image/logo.png', alt='Eco-Track Logo', height='36', class='me-2')
        span.fw-bold Eco Track
        span.badge.bg-success.ms-2.d-none.d-sm-inline Hồ Chí Minh
      button.navbar-toggler(
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#mainNav'
        aria-controls='mainNav'
        aria-expanded='false'
        aria-label='Toggle navigation'
      )
        span.navbar-toggler-icon
      .collapse.navbar-collapse#mainNav
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='/') Trang chủ
          li.nav-item
            a.nav-link(href='/aqi') Chất lượng không khí
          li.nav-item
            a.nav-link(href='/about') Giới thiệu
        .ms-lg-3.d-flex.align-items-center.flex-wrap.gap-2
          .aqi-badge.status-badge.rounded-pill
            i.bi.bi-wind
            span.fw-semibold AQI:
            span.ms-1(data-aqi) --
          
          // Nút Login/Admin
          .vr.d-none.d-md-block.mx-2
          if !currentUser
            a.btn.btn-outline-light.btn-sm.rounded-pill(href=`/auth/login`)
              i.bi.bi-box-arrow-in-right.me-1
              span Đăng nhập
          else
            .dropdown
              button.btn.btn-success.btn-sm.rounded-pill.dropdown-toggle(
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              )
                i.bi.bi-person-circle.me-1
                | #{currentUser.fullName}
              ul.dropdown-menu.dropdown-menu-end
                li
                  a.dropdown-item(href="/auth/settings")
                    i.bi.bi-gear.me-2
                    | Cài đặt
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item.text-danger(href="/auth/logout")
                    i.bi.bi-box-arrow-right.me-2
                    | Đăng xuất